.container {
  height: 500px;
  position: relative;
  margin-top:30px
}

.center {
  font-size: 40px;
  text-align: center;
  margin: 0;
  position: absolute;
  margin-top:60px;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

#slider{
  height: 20px;
  width:500px;
}
input[type="range"] { 
    -webkit-appearance: none;
    position: relative;
    overflow: hidden;
    height: 100px;
    width: 400px;
    cursor: pointer;
	border: 1px solid red;
    border-radius: 0; /* iOS */
}
#distanta{
  font-family: Verdana;
  font-size: 1.5em;
  margin:0px;
}

::-webkit-slider-runnable-track {
    background: #ddd;
}

/*
 * 1. Set to 0 width and remove border for a slider without a thumb
 */
::-webkit-slider-thumb {
    -webkit-appearance: none;
	width: 0px;
    background: white;
	display:hidden;
    box-shadow: -100vw 0 0 100vw red;
}

  #mainJoystick {
    align-items: center;
    display: block;
    height: 150px;
    justify-content: center;
    margin:auto;
    margin-top: 220px;
    width: 150px;
  }
  
  #wrapper {
    border: 1px solid black;
    border-radius: 100%;
    width: 150px;
    height: 150px;
  }
  
  .joystick {
    background-image: url("tank.png") ;
    background-repeat: no-repeat;
    background-size: 150px 150px;
    cursor: pointer;
    height: 150px;
    user-select: none;
    width: 150px;
  }
  
  .videoFeed{
    display:inline-block;
  }