<!DOCTYPE html>
<html>
	<head>
		<title>Tanc</title>
		<link rel="stylesheet" type="text/css" href="static/style.css">
		<script src="static/script.js"></script>
	</head>
	<body onload="start()">
	<br>
		<div class="container">
			<div class="center">
				<p id="distanta"><20cm</p>
				<br>
				<input id="slider" autocomplete="off" type="range" name="slider1" min="4" max="400" value="0">
				<br>
				<br>
				<br>
				<img src="static/tank.jpg" width="200" height="200">
			</div>
		</div>
	</body>
</html>